body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.birthday-card,
.gift-page {
    background-color: #ffcccb; /* Warna latar card dan gift-page */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    animation: fadeInUp 1s ease-out;
}

h1 {
    color: #e44d26;
}

p {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

.button {
    background-color: #4caf50; /* Warna latar tombol */
    color: #fff; /* Warna teks tombol */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #45a049; /* Warna latar tombol saat dihover */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
